// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

$color-primary:        '#042B45';
$color-secondary:      '#ff0055';
$color-complimentary:  '#007ab5';
$color-muted:          '#8c8c8c';
$color-text:           '#383838';
$color-text-inverted:  '#ffffff';
