// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

$color-primary:        '#ea6903';
$color-secondary:      '#5c646b';//grey
$color-complimentary:  '#a04702';//dark orange
$color-muted:          '#818a93';//grey
$color-text:           '#1f2124';//light black
$color-text-inverted:  '#ffffff';
