// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
$color-primary: #ea6903; //orange
$color-secondary: #5B6770; //color gray dark
// $color-tertiary: #FFC72C;
$color-gray: #818a93; //color gray light
$color-text: #1f2124;
$color-text-secondary: $color-secondary;

$color-footer: darken($color-primary, 15%);
$color-table: lighten($color-secondary, 35%);
$color-logo: $color-primary;
$color-logotype: $color-secondary;
$color-header-shadow: rgba($color-black, .1);
