// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

@import 'colors-rfe';

$direction-forwards:  'left';
$direction-backwards:  'right';

@font-face {
  font-family:"DejaVu";
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/DejaVuSans.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/DejaVuSans.woff") format("woff");
  }

$primary-font:    "DejaVu";
$secondary-font:  "DejaVu";
