// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

@import 'colors-rfe';

$direction-forwards:  'left';
$direction-backwards:  'right';

/* Imports */
@font-face {
  font-family:"Arian AMU (Bold)";
  src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Bold.woff2") format("woff2");
  src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Bold.woff") format("woff");
  }

  @font-face {
    font-family:"Arian AMU (Regular)";
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Regular.woff2") format("woff2");
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Regular.woff") format("woff");
    }
$primary-font:    "Arian AMU (Bold)";
$secondary-font:  "Arian AMU (Regular)";
