// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-rfe';
$direction-forwards: 'left';
$direction-backwards: 'right';
@font-face {
    font-family: "DejaVu (Bold)";
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Bold.woff2") format("woff2");
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Bold.woff") format("woff");
}
@font-face {
    font-family: "DejaVu (Book)";
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Book.woff2") format("woff2");
    src: url("https://docs.rferl.org/Branding/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Book.woff") format("woff");
}
$primary-font: "DejaVu (Bold)";
$secondary-font: "DejaVu (Book)"
