// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-rfe';
@font-face {
    font-family: "Skolar Sans PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/SkolarSans_Regular.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/SkolarSans_Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Skolar Sans PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/SkolarSans_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/SkolarSans_Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Skolar PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Light.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Skolar PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Bold.woff") format("woff");
    font-weight: 700;
}
$direction-forwards: left;
$direction-backwards: right;
$font-primary: "Skolar Sans PE";
$font-secondary: "Skolar PE";

body,
html {
    font-size: 18px;
    scroll-behavior: smooth;
}

main {
    scroll-behavior: smooth;
}
