// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

@import 'colors-rfe';

$direction-forwards:  'left';
$direction-backwards:  'right';

/* Imports */
@font-face {
  font-family:"Skolar PE";
  font-weight: 300;
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Light.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Light.woff") format("woff");
  }
@font-face {
  font-family:"Skolar PE";
  font-weight: 400;
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Rg.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Rg.woff") format("woff");
  }
@font-face {
  font-family:"Skolar PE";
  font-weight: 700;
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Bd.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Bd.woff") format("woff");
  }
@font-face {
  font-family:"Skolar Sans";
  font-weight: 400;
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarSansLatnCyrl-Rg.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarSansLatnCyrl-Rg.woff") format("woff");
  }
@font-face {
  font-family:"Skolar Sans";
  font-weight: 700;
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarSansLatnCyrl-Bd.woff2") format("woff2");
  src: url("https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarSansLatnCyrl-Bd.woff") format("woff");
  }

$primary-font:    "Skolar PE";
$secondary-font:  "Skolar Sans";

html, body{
  font-size:18px;
  background-color: $color-background;
  }
