// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-rfe';
@font-face {
    font-family: "Nassim";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Nassim_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Nassim_Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Nassim";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Nassim_Regular.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Nassim_Regular.woff") format("woff");
    font-weight: 400;
}
$direction-forwards: right;
$direction-backwards: left;
$font-primary: "Nassim";
$font-secondary: "Nassim";

$margin-continue: 0 auto 0 20px;
$border-left-quote: none;
$border-right-quote: 5px solid $color-text-secondary;
$padding-left-quote: none;
$padding-right-quote: 20px;
$padding-left-quote-s: none;
$padding-right-quote-s: 16px;
$padding-left-quote-xs: none;
$padding-right-quote-xs: 12px;

body,
html {
    font-size: 20px;
    scroll-behavior: smooth;
}

main {
    scroll-behavior: smooth;
}
