// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-ct';
@font-face {
    font-family: "Roboto Condensed";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/RobotoCondensed_Regular.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/RobotoCondensed_Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/RobotoCondensed_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/RobotoCondensed_Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Skolar PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Light.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Skolar PE";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/Skolar_Bold.woff") format("woff");
    font-weight: 700;
}
$direction-forwards: left;
$direction-backwards: right;
$font-primary: "Roboto Condensed";
$font-secondary: "Skolar PE";
$margin-continue: 0 20px 0 auto;
$border-left-quote: 5px solid $color-text-secondary;
$border-right-quote: none;
$padding-left-quote: 20px;
$padding-right-quote: 0;
$padding-left-quote-s: 16px;
$padding-right-quote-s: 0;
$padding-left-quote-xs: 12px;
$padding-right-quote-xs: 0;

body,
html {
    font-size: 18px;
    scroll-behavior: smooth;
    /*overflow-x: hidden;*/
}

main {
    scroll-behavior: smooth;
}
