// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-rfe';
@font-face {
    font-family: "DejaVu";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "DejaVu";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Book.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/DejaVuSans_Book.woff") format("woff");
    font-weight: 400;
}
$direction-forwards: left;
$direction-backwards: right;
$font-primary: "DejaVu";
$font-secondary: "DejaVu";
$margin-continue: 0 20px 0 auto;

body,
html {
    font-size: 18px;
    scroll-behavior: smooth;
}

main {
    scroll-behavior: smooth;
}
