// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
@import 'colors-rfe';
@font-face {
    font-family: "Arian AMU";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Bold.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Arian AMU";
    src: url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Regular.woff2") format("woff2"), url("https://docs.rferl.org/Branding/CDN/Apollo_Framework/2.0/dist/assets/fonts/ArianAMU_Regular.woff") format("woff");
    font-weight: 400;
}
$direction-forwards: left;
$direction-backwards: right;
$font-primary: "Arian AMU";
$font-secondary: "Arian AMU";
