// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

$color-text:           $color-white;
$color-background:     $color-black;
body {
    background-color: $color-background;
}
