// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

.container {
    width: 100%;
    margin: ($gutter * 2) auto;
    padding: 0 ($gutter * 2);
    box-sizing: border-box;
    max-width: $breakpoint-s;

    &.container--big {
        max-width: $breakpoint-l;
    }

    &.container--jumbo {
        max-width: $breakpoint-xl;
    }

    &.container--full {
        max-width: 100%;
        padding: 0;
    }

    &.container--aside {
        max-width: $breakpoint-s;
    }
}
.container--aside .container-inner::after {
    content: "";
    display: table;
    clear: both;
}
.container--aside figure {
    float: right;
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -50px;
    transform: translateX(70px);
}
.container--aside figure::before {
    content: "";
    display: table;
    clear: both;
}
@media(max-width:796px) {
    .container--aside figure {
        margin-left: 20px;
        transform: none;
    }
}
@media(max-width:624px) {
    .container--aside figure {
        margin: 20px auto;
        float: none;
    }
}
.columns .container-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.columns figure {
  padding: 0 5px;
  margin: 32px 0;
}
