// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

hr {
    position: relative;
    margin: 0px auto;
    border: none;
    box-sizing: border-box;
    background: $color-background;
}

.container-inner hr {
    margin: 50px auto;
}

hr.divider--short {
    width: 40%;
    border-bottom: 1px solid $color-gray;
}

hr.divider--solid {
    border-bottom: 1px solid $color-gray;
}

hr.divider--dotted {
    border-bottom: 1px dotted $color-gray;
}

hr.divider--dashed {
    border-bottom: 1px dashed $color-gray;
}

.divider--solid {
    position: relative;
    margin: 0px auto;
    box-sizing: border-box;
    height: 1px;
    border-bottom: 1px solid $color-gray;
}
.divider--dotted {
    position: relative;
    margin: 0px auto;
    box-sizing: border-box;
    height: 1px;
    border-bottom: 1px dotted $color-gray;
}
.divider--dashed {
    position: relative;
    margin: 0px auto;
    box-sizing: border-box;
    height: 1px;
    border-bottom: 1px dashed $color-gray;
}
.divider--short {
    width: 40%;
}
.container-inner .divider {
    margin: 50px auto;
}
.container-inner .divider--short {
    margin: 50px auto;
}
