// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

.container {
    figure {
        position: relative;
        width: 100%;
        opacity: 0;

        img {
            width: 100%;
        }

        a {
            .gallery-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 5px;
                width: 38px;
                height: 38px;
                z-index: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.8s;
                cursor: pointer;

                svg {
                    fill: #fff;
                    width: 16px;
                    height: 16px;
                    transition: transform 0.8s;
                }
            }
        }

        figcaption {
            padding: $gutter 0;
            color: $color-text-secondary;
            font-size: 0.85rem;
            font-family: $font-primary, $font-fallback-primary;
            text-align: $direction-forwards;
        }
    }

    figure:hover a {
        .gallery-icon svg {
            transform: scale(1.5);
        }
    }

    figure:hover a {
        .gallery-icon {
            opacity: 1;
        }
    }
}
.container.container--full{
    figure {
        figcaption {
            padding: $gutter $gutter*2;
        }
    }
}
.columns .container-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding: 0 20px;*/
    box-sizing: border-box;
}
.columns figure {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
    margin: 32px 0;
}
@media(max-width: $breakpoint-s){
    .columns .container-inner {
        flex-wrap: wrap;
    }
    .columns figure {
        width:33.3%;
    }
}
@media(max-width: $breakpoint-xs){
    .columns figure {
        width:50%;
    }
}
figure.scroll-aside-origin {
    max-width: 100%;
}

figure.appeared {
    opacity: 1;
    transition: opacity 0.4s;
}
