// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

footer#page__footer {
	width: 100%;
	padding: $gutter;
	box-sizing: border-box;
	text-align: center;
	background-color: $color-complimentary;

	.footer__block{
		margin:auto;
		max-width: $breakpoint-s;
		h3 {
			color: $color-white;
			}
		p {
			color: $color-white;
			}
		}
	.footer__follow-us {
		margin: auto;
		max-width: $breakpoint-s;
		h3 {
			color: $color-white;
		}
		a {
			width: 42px;
			height: 42px;
			margin: ($gutter / 4);
			display: inline-block;

			svg {
				width: 42px;
				height: 42px;
				display: block;
				transition: fill .3s;
				fill: $color-white;
				.svg__path {
					fill: $color-complimentary;
				}
			}
		}
	}
	.footer__copyright{
		margin: auto;
    max-width: $breakpoint-s;
		p {
			color: $color-white;
			text-align: center;
			}
	}
}
