// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

header#page__header {
    width: 100%;
    height: 65px;
    padding: ($gutter * 1.5);
    box-sizing: border-box;
    background: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    z-index: 997;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // Service Logo
    a.page__header-logo {
        width: auto;
        height: 35px;
        display: inline-block;

        svg {
            width: auto;
            height: 35px;
            fill: $color-white;
        }
    }
    // Share Button
    a.page__header-share {
        width: auto;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-white;
        font-size: 0.8rem;
        font-family: $font-secondary, $font-fallback-secondary;

        svg {
            width: 24px;
            height: 24px;
            margin-top: -3px;
            margin-right: ($gutter / 2);

            .svg__path {
                fill: $color-white;
            }
        }
    }
}

body header #progress {
    width: 100%;
    height: 3px;
    background-color: #555555;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

body header #progress #bar {
    width: 50%;
    height: 3px;
    background-color: $color-primary;
    top: 0;
    left: 0;
    transition: width 0.3s;
}
// Navigation

body header aside#nav__site {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    background-color: rgba(255,255,255,0.85);
}

body header aside#nav__site #nav__site-container {
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #24292D;
}

body header aside#nav__site #nav__site-container #nav__site-header {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

body header aside#nav__site #nav__site-container #nav__site-header svg {
    fill: #fff;
}

body header aside#nav__site #nav__site-container > ul {
    padding: 20px;
    margin: 0;
    list-style: none;
}

aside#nav__site #nav__site-container ul li {
    padding: 0;
    margin: 0;
}

aside#nav__site #nav__site-container ul li a {
    display: block;
    padding: 12px 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-family: $font-secondary;
    font-size: 18px;
    text-transform: uppercase;
}

aside#nav__site #nav__site-container ul li a {
    color: $color-primary;
}