// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

#page__header {
    width: 100%;
    height: 65px;
    padding: 5px 15px 0;
    box-sizing: border-box;
    background: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    z-index: 997;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.page__header--onpage {
        background-color: $color-background;
        // border-bottom: 2px solid $color-secondary;
        box-shadow: 0 2px 5px $color-header-shadow;
        transition: all 0.5s;

        .logo__avatar {
            fill: $color-logo;
        }

        .logo__type {
            fill: $color-logotype;
        }

        .page__header-share {
            color: $color-text;

            .svg__path {
                fill: $color-text;
            }
        }
    }
}
// Service Logo

a.page__header-logo {
    width: auto;
    height: 40px;
    display: inline-block;

    svg {
        width: auto;
        height: 40px;
        fill: $color-white;
    }
}

.header__right-container {
    display: flex;
    align-items: center;
}
// Share Button

.page__header-share {
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    font-size: 0.8rem;
    font-family: $font-primary, $font-fallback-primary;
    float: left;
    position: relative;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
        margin-top: -3px;
        margin-right: ($gutter / 2);
        fill: $color-white;
        stroke: $color-white;
    }

    &:hover {
        color: $color-primary;
        transition: color 0.3s;

        svg {
            // transition: all 0.3s;
            fill: $color-primary;
            stroke: $color-primary;

             path {
                // animation: share 1s;
                            animation: share 1s forwards;
            }
            circle:not(:first-of-type) {
                fill: none;
                stroke: none;
                animation: sharecirc 1s forwards;
            }
        }
    }
}

.header__right-container .sharing-icons {
    display: block;
    width: auto;
    padding: 5px 4px 2px;
    background: #fff;
    position: absolute;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    top: 13px;
    right: -100%;
    transition: right 0.3s ease-in;

    a {
        width: 32px;
        height: 32px;
        display: inline-block;
        margin: 0 2px;

        svg circle {
            /*.background*/
            transition: fill 0.3s;
            fill: #5c646b;
        }

        svg .svg__path {
            /*.logo*/
            fill: #fff;
        }

        svg:hover circle {
            /*.background*/
            transition: fill 0.3s;
            fill: #ea6903;
        }

        &:last-child {
            cursor: pointer;

            svg .svg__path {
                fill: #000;
            }
        }
    }
}

.header__right-container .opened {
    right: 0;
}

#progress {
    width: 100%;
    height: 3px;
    background-color: #555555;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#bar {
    width: 50%;
    height: 3px;
    background-color: $color-primary;
    top: 0;
    left: 0;
    transition: width 0.3s;
}
// Navigation

a.page__header-nav {
    width: 27px;
    height: 27px;
    padding: 4px 4px 4px 16px;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    float: right;
    position: relative;

    svg {
        fill: #fff;
    }

    &:hover {
        svg {
            transition: fill 0.3s;
            fill: $color-primary;
        }
    }
}

#nav__site {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
    z-index: 999;
    background-color: rgba($color-black,0.85);
}

#nav__site-container {
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #24292D;
    align-items: flex-start;
    float: $direction-backwards;
}

#nav__site-header {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    svg {
        fill: #fff;
    }
}

#nav__site.nav__site-visible {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}

#nav__site-close {
    position: absolute;
    right: 0;
    width: 27px;
    height: 27px;
    padding: 8px;
    cursor: pointer;

    &:hover {
        svg {
            transition: fill 0.3s;
            fill: $color-primary;
        }
    }

    svg {
        fill: #fff;
    }
}

#nav__site-container ul {
    padding: 46px 20px 20px;
    margin: 0;
    list-style: none;

    li {
        padding: 0;
        margin: 0;

        a {
            display: block;
            padding: 12px 10px;
            text-decoration: none;
            color: #fff;
            transition: color 0.3s;
            font-family: $font-secondary;
            font-size: 18px;
            text-transform: uppercase;

            &:hover {
                color: $color-primary;
            }
        }
    }
}
// animation
@keyframes share {
    from {
        fill: none;
        stroke: none;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }

    50% {
        stroke: $color-primary;
        stroke-dasharray: 15;
        stroke-dashoffset: 0;
    }
}
@keyframes sharecirc {
    to {
        fill: $color-primary;
    }
}
