// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
/* Headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 30px 0 15px;
    line-height: 1.2;
}

h1 {
    color: $color-text-secondary;
    font-size: 2rem;
    font-weight: 700;
    font-family: $font-secondary, $font-fallback-secondary;
    text-align: center;
}

h2 {
    color: $color-text-secondary;
    font-size: 1.6rem; //28.8px
    font-weight: 700;
    font-family: $font-secondary, $font-fallback-secondary;
    text-align: center;
}

h3 {
    color: $color-primary;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: $font-primary, $font-fallback-primary;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: $color-text-secondary;
    font-size: 1.2rem; //21.6px
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font-secondary, $font-fallback-secondary;
    text-align: center;
}

h5 {
    position: relative;
    color: $color-text;
    font-size: 1.2rem; //28.8px
    font-weight: 700;
    font-family: $font-secondary, $font-fallback-secondary;
    text-align: center;
}

h6 {
    position: relative;
    color: $color-text-secondary;
    font-size: 1.2rem; //21.6px
    font-weight: 300;
    font-family: $font-secondary, $font-fallback-secondary;
    text-align: center;
}
/* Paragraphs */
p {
    box-sizing: border-box;
    padding: (1.5 * $gutter 0);
    color: $color-text;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: $font-secondary, $font-fallback-secondary;

    .interview & {
        padding: $gutter 0;

        span {
            font-weight: 700;
            color: $color-text-secondary;
        }
    }
}

.p--lead {
    color: $color-text-secondary;
    font-weight: 600;
}

.p--dropcap::first-letter {
    color: $color-text-secondary;
    float: left;
    font-family: Georgia;
    font-size: 85px;
    line-height: 60px;
    padding: 10px 10px 5px 3px;
}
/* Blockquotes */
blockquote {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}

blockquote cite {
    display: block;
    box-sizing: border-box;
    width: inherit;
    max-width: inherit;
    padding-left: 20px;
    color: $color-text-secondary;
    font-size: 1.85rem;
    line-height: 1.2;
    font-weight: 300;
    font-style: italic;
    font-family: $font-secondary, $font-fallback-secondary;
    border-left: 5px solid $color-text-secondary;
}

blockquote footer {
    margin: $gutter 0;
    color: $color-text-secondary;
    font-size: 0.8rem;
    font-family: $font-primary, $font-fallback-primary;
    text-align: $direction-backwards;
}
//links

p a {
    position: relative;
    font-family: $font-secondary, $font-fallback-secondary;
    color: $color-primary;
    text-decoration: none;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 23px;
        border-top: 1px solid $color-gray;
    }

    &:hover:after {
        border-top: 1px solid $color-primary;
    }
}

.container-inner > a {
    position: relative;
    font-family: $font-secondary, $font-fallback-secondary;
    color: $color-primary;
    text-decoration: none;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 23px;
        border-top: 1px solid $color-gray;
    }

    &:hover:after {
        border-top: 1px solid $color-primary;
    }
}