// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

$breakpoint-xs: 	0;
$breakpoint-s:		576px;
$breakpoint-m:		768px;
$breakpoint-l:		992px;
$breakpoint-xl:		1200px;
$breakpoint-xxl:	1600px;
