// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

$breakpoint-xs:		576px;
$breakpoint-s:		768px;
$breakpoint-m:		992px;
$breakpoint-l:		1200px;
$breakpoint-xl:	    1600px;
