// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved

.align--center {
    text-align: center;
}

.align--justify {
    text-align: justify;
}

.align--left {
    text-align: left;
}

.align--right {
    text-align: right;
}
