// Pangea Apollo Framework 2.0 [Reykjavík]
// 2018 (c) Pangea Digital, Radio Free Europe/Radio Liberty, Inc.
// All rights reserved
$gutter: 10px;
$font-fallback-primary: "Helvetica", "Arial", sans-serif;
$font-fallback-secondary: "Georgia", "Times New Roman", "Times", serif;
$color-white: #fdfdfd;
$color-black: #141819;

$color-background: $color-white;
$skin-theme: skin-light;
